<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search</title>
</head>
<body>
    <div>
        <form>
            <input type="text" size="80" name="word" id="word" placeholder="Type here..."/>
        </form>
        <div id="suggestions" style="text-align: left;">

        </div>
    </div>

<script
        src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"></script>
<script type="text/javascript">
    $(document).ready(function(){
        //console.log('Document ready...');
        $('#word').on('keyup', function(e){
           var word=e.target.value;
           if(word.length>1){
               callAjax(word, function(data){
                 //console.log(data);
                 renderSuggestions(data);
               });
           };

        });
    });

    function choose(word){
        $('#word').val(word);
        $('#suggestions').empty();
    }

    function renderSuggestions(data){
        $('#suggestions').empty();
        data.forEach(function(word,index){
            //console.log(word,index);
            $('#suggestions').append("<div onClick=\"choose('"+word+"');\">"+word+"</div>");
        });
    }

    function callAjax(word, resp){
        $.ajax({
             url: "http://127.0.0.1:8000/search",
             data: { word: word },
             type: "GET",
             beforeSend: function(xhr){xhr.setRequestHeader('X-Requested-With', 'XMLHttpRequest');},
             success: function(data) {
                resp(data.data);
             }
          });
    }

</script>
</body>
</html>